<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Indica que a pasta atual é uma aplicação Node.js a ser manipulada pelo módulo iisnode -->
    <handlers>
      <add name="iisnode" path="src/server.js" verb="*" modules="iisnode"/>
    </handlers>

    <!-- URL Rewrite para redirecionar todas as solicitações para o Node.js -->
    <rewrite>
      <rules>
        <!-- Não interferir nos logs do iisnode -->
        <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^[a-zA-Z0-9_\-]+\.js\.logs\/\d+\.txt$"/>
        </rule>

        <!-- Não interferir no debugger do iisnode -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^src/server\.js\/debug[\/]?" />
        </rule>

        <!-- Redirecionar tudo para o Node.js -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="src/server.js"/>
        </rule>

        <!-- Forçar HTTPS (exceto localhost) -->
        <rule name="Force HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTPS}" pattern="^OFF$" />
            <add input="{HTTP_HOST}" pattern="^localhost" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>

    <!-- Configuração do iisnode -->
    <iisnode 
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
      debuggingEnabled="false"
      loggingEnabled="true"
      devErrorsEnabled="false"
      node_env="production"
      watchedFiles="*.js;iisnode.yml"
    />

    <!-- Configurações de segurança -->
    <httpErrors existingResponse="PassThrough" />
    
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>

    <!-- Habilitar CORS -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
